.App {
  text-align: center;
  background-color: rgb(255, 247, 238);
  min-width: 620px
}

.links {
  cursor: pointer;
  color: white !important;
}

.pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

.github-color {
  color: white !important;
}

.pagination-button{
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (min-width: 576px) and (max-width: 992px){
  .form-search{
    justify-content: center;
  }
}
